.checkoutContainer {
  width: 72rem;
  padding: 0 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(40rem, 1fr) 1fr;
  gap: 2rem;
  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h3 {
      font-size: 1.125rem;
    }
    .addressFormContainer {
      background: var(--base-card);
      border-radius: 6px;
      padding: 2.5rem;
      header {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 2rem;
        svg {
          color: var(--yellow-dark);
        }
        span {
          display: block;
          line-height: 1.3;
        }
        p {
          font-size: 0.875rem;
        }
      }
      .addressForm {
        display: grid;
        grid-template-columns: minmax(200px, 1fr) 1.5fr 60px;
        column-gap: 0.75rem;
        row-gap: 1rem;
        label {
          border-radius: 4px;
          background: var(--base-button);
          color: var(--base-text);
          padding: calc(0.75rem - 1px);
          border: 1px solid transparent;
          input {
            font-size: 0.875rem;
            border: 0;
            width: 100%;
            background: inherit;
            &::placeholder {
              color: var(--base-label);
            }
            &:focus {
              outline: none;
            }
          }
          &:nth-child(2) {
            grid-column: 1 / -1;
          }
          &:nth-child(4) {
            grid-column: 2 / -1;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            span {
              font-style: italic;
              font-size: 0.75rem;
            }
            &:focus-within span {
              display: none;
            }
          }
          &:focus-within {
            border: 1px solid var(--yellow-dark);
          }
        }
      }
    }
    .paymentFormContainer {
      background: var(--base-card);
      border-radius: 6px;
      padding: 2.5rem;
      header {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 2rem;
        svg {
          color: var(--purple);
        }
        span {
          display: block;
          line-height: 1.3;
        }
        p {
          font-size: 0.875rem;
        }
      }
      .paymentMethods {
        display: flex;
        gap: 0.75rem;
        button {
          border: 0;
          display: flex;
          align-items: center;
          gap: 0.75rem;
          padding: 1rem;
          font-size: 0.75rem;
          background: var(--base-button);
          border-radius: 6px;
          flex: 1;
          cursor: pointer;
          transition: 0.2s;
          svg {
            color: var(--purple);
          }
          &:hover {
            background: var(--base-hover);
          }
          &.active {
            background: var(--purple-light);
            border: 1px solid var(--purple);
          }
        }
      }
    }
  }
  .purchasePreviewContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h3 {
      font-size: 1.125rem;
    }
    .purchasePreview {
      padding: 2.5rem;
      background: var(--base-card);
      border-radius: 6px 44px;
      .item {
        display: flex;
        gap: 1.5rem;
        padding-bottom: 1.5rem;
        .img {
          width: 64px;
          height: 64px;
        }
        .info {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          .controls {
            display: flex;
            gap: 0.5rem;
            .amountControls {
              background: var(--base-button);
              padding: 0.5rem;
              display: flex;
              gap: 4px;
              border-radius: 6px;
              font-size: 1rem;
              button {
                border: 0;
                background: transparent;
                color: var(--purple);
                font-size: 0;
                transition: 0.2s;
                cursor: pointer;
                &:hover {
                  color: var(--purple-dark);
                }
              }
            }
            > button {
              border: 0;
              background: var(--base-button);
              padding: 0.5rem;
              display: flex;
              align-items: center;
              border-radius: 6px;
              font-size: 0.75rem;
              color: var(--base-text);
              cursor: pointer;
              transition: 0.2s;
              svg {
                color: var(--purple);
              }
              &:hover {
                background: var(--base-hover);
              }
            }
          }
        }
        > strong {
          margin-left: auto;
        }
        border-bottom: 1px solid var(--base-button);
        & + .item {
          padding: 1.5rem 0;
        }
      }
      .prices {
        display: flex;
        justify-content: space-between;
        margin-top: 1.5rem;
        strong {
          font-size: 1.25rem;
          color: var(--base-subtile);
        }
        .labels {
          display: flex;
          flex-direction: column;
          gap: 0.75rem;
          text-align: left;
          span {
            font-size: 0.875rem;
            color: var(--base-text);
          }
        }
        .content {
          display: flex;
          flex-direction: column;
          gap: 0.75rem;
          text-align: right;
          span {
            color: var(--base-text);
          }
        }
      }
      .confirmBtn {
        width: 100%;
        padding: 0.75rem 1rem;
        border: 0;
        background: var(--yellow);
        color: var(--white);
        font-size: 0.875rem;
        font-weight: 700;
        border-radius: 6px;
        margin-top: 1.5rem;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          background: var(--yellow-dark);
        }
      }
    }
  }
}
