.headerContainer {
  background: var(--background);
  position: sticky;
  top: 0;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 72rem;
    padding: 2rem 1rem;
    margin: 0 auto;
    nav {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      > span {
        background: var(--purple-light);
        color: var(--purple);
        padding: 0.5rem;
        border-radius: 6px;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        font-size: 0.875rem;
      }
      a {
        padding: calc(0.5rem - 1px);
        background: var(--yellow-light);
        color: var(--yellow-dark);
        border: 1px solid transparent;
        border-radius: 6px;
        transition: all 0.2s;
        position: relative;
        line-height: 0;
        span {
          font-weight: 700;
          font-size: 0.75rem;
          color: var(--white);
          position: absolute;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          top: -25%;
          right: -25%;
          border-radius: 50%;
          background: var(--yellow-dark);
          line-height: 1;
        }
        &:hover {
          border: 1px solid var(--yellow);
          box-shadow: 0 0 0 2px var(--yellow-light);
        }
      }
    }
  }
}
